@import 'colors';

$default-anim: .25s ease-in-out;
$fast-anim: .15s ease-in-out;


.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  font-size: 50px;
  color: $grey-color;

  i { animation: spin 1.25s infinite linear; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
