@import '../styles/colors';

.btn {
  font-size: 15px;
  font-weight: 700;
  text-shadow: 0 0 2px rgba(0,0,0, .35);
  white-space: nowrap;

  &.btn-sm {
    font-size: 12px;

    @media (min-width: $sm-screen) {
      font-size: 13px;
    }
  }

  p & { text-decoration: none; }

  &[type='submit'] {
    display: block;
    width: 160px;
    margin: 45px auto 0;
    font-size: 14px;

    &:disabled { opacity: .3; }

    @media (min-width: $md-screen) {
      margin-top: 65px;
      padding: .75rem 2rem;
      font-size: 15px;
    }

    @media (min-width: $lg-screen) { width: 220px; }
  }
}

.dropdown-item {
  user-select: none;

  &.active, &:active { background-color: $purple-color; }
  &.disabled, &:disabled { color: $grey-color !important; }
}

.dropdown-toggle:after,
.dropup .dropdown-toggle:after { margin-left: .5em; }
