@import 'breakpoints';

.btn {
  font-size: 15px;
  text-shadow: 0 0 2px rgba(0,0,0, .35);
  white-space: nowrap;

  &.btn-sm {
    font-size: 12px;
    font-weight: 700;

    @media (min-width: $sm-screen) {
      font-size: 13px;
    }

    i { font-size: inherit !important; }
  }

  &.btn-light { text-shadow: none; }

  &.btn-light:hover,
  &.shadow-none:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0, .18), 0 4px 15px 0 rgba(0,0,0, .15) !important;
  }

  i { font-size: 15px !important; }
}

.btn-login-google {
  padding: .5rem 1rem !important;
  font-size: 13px !important;
  text-shadow: none;

  @media (min-width: $sm-screen) {
    margin-right: 15px;
    padding: .5rem 1.6rem !important;
  }

  i { font-size: 14px !important; }
}

.btn-submit-login, .btn-submit-signup {
  width: 100%;

  @media (min-width: $md-screen) {
    width: auto;
  }
}
