$dark-color:          #212529;
$default-color:       #2BBBAD;
$primary-color:       #4285F4;
$secondary-color:     #AA66CC;

$danger-color:        #FF4444;
$success-color:       #00C851;

$grey-color:          #DDD;
$light-grey-color:    #FAFAFA;
$mid-grey-color:      #999;
$dark-grey-color:     #555;

$mdb-color:           #59698D;
$purple-color:        #6E42F4;
$pink-color:          #C100FF;
