
// Source: https://google-webfonts-helper.herokuapp.com/fonts
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Roboto'), local('Roboto-Regular'),
       url('/assets/fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'),
       url('/assets/fonts/roboto/roboto-v20-latin-regular.woff') format('woff');
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('/assets/fonts/roboto/roboto-v20-latin-500.woff2') format('woff2'),
       url('/assets/fonts/roboto/roboto-v20-latin-500.woff') format('woff');
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/assets/fonts/roboto/roboto-v20-latin-700.woff2') format('woff2'),
       url('/assets/fonts/roboto/roboto-v20-latin-700.woff') format('woff');
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('/assets/fonts/roboto/roboto-v20-latin-900.woff2') format('woff2'),
       url('/assets/fonts/roboto/roboto-v20-latin-900.woff') format('woff');
}
