@import 'variables';
@import 'breakpoints';
@import 'animation';

html, body { height: 100%; }

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;

  & > .wrapper { flex: 1 0 auto; }

  app-footer {
    margin-top: auto;
    margin-bottom: 0;
  }
}

.container {
  height: 100%;

  @media (min-width: $md-screen) { max-width: 760px !important; }
  @media (min-width: $lg-screen) { max-width: 960px !important; }
  @media (min-width: $xl-screen) { max-width: 960px !important; }
}

.section {
  padding: 2rem 0;

  @media (min-width: $md-screen) { padding: 3rem 0; }

  &.tabbed {
    height: 100%;

    & > .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 1rem;

      & > *:not(router-outlet):not(app-tabs) {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        padding-bottom: 3rem;
        flex: 1;
      }

      @media (min-width: $md-screen) {
        flex-direction: row;
        margin-top: 0;
        padding-bottom: 5rem;

        & > *:not(router-outlet):not(app-tabs) {
          padding-top: 2rem;
          padding-bottom: 4rem;
        }
      }
    }

    & > hr {
      display: none;

      @media (min-width: $md-screen) {
        display: block;
        margin-bottom: 0;
      }
    }
  }
}

hr {
  width: 100%;
  margin-bottom: 2rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* iOS Scrolling + Notch */
@supports (-webkit-overflow-scrolling: touch) {
  app-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 8000;
    transition: $fast-anim;
  }

  app-root > .wrapper {
    padding-top: $header-height;
    transition: $fast-anim;

    &.lowered { padding-top: $header-height + $banner-height; }
  }

  @media all and (display-mode: standalone) {
    app-root > .wrapper {
      padding-top: calc(#{$header-height} + env(safe-area-inset-top));

      &.lowered { padding-top: calc(#{$header-height} + #{$banner-height} + env(safe-area-inset-top)); }
    }
  }

  @media (orientation: landscape) {
    app-header { position: initial; }
    app-root > .wrapper {
      padding-top: 0;

      &.lowered { padding-top: 0; }
    }

    @media all and (display-mode: standalone) {
      app-header { position: fixed; }
      app-root > .wrapper {
        padding-top: $header-height !important;

        &.lowered { padding-top: $header-height + $banner-height !important; }
      }
    }
  }
}
