app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  & > .container { flex: 1 0 auto; }
}

.container {
  @media (min-width: 768px) {
    max-width: 760px !important;

    .w-md-25 { width: 25% !important; }
    .w-md-50 { width: 50% !important; }
    .w-md-75 { width: 75% !important; }
  }

  @media (min-width: 992px) {
    max-width: 960px !important;

    .w-lg-25 { width: 25% !important; }
    .w-lg-50 { width: 50% !important; }
    .w-lg-75 { width: 75% !important; }
  }

  @media (min-width: 1200px) {
    max-width: 960px !important;
  }
}
