@import 'breakpoints';
@import 'animation';
@import 'colors';

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 $offset-grey-color;

  &:last-of-type { box-shadow: none; }

  &.inactive {
    color: $mid-grey-color;
    opacity: .75;

    &:hover { opacity: 1; }
  }

  &.action-item {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to top, $light-grey-color, #FFF);
      opacity: 0;
      transition: $fast-anim;
    }

    &:last-of-type:after {
      background-image: linear-gradient(to bottom, $light-grey-color, #FFF);
    }

    &:hover {
      cursor: pointer;

      &:after { opacity: 1; }
      .trigger { opacity: .5; }
    }
  }

  .avatar, .photo {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    margin-right: 20px;
    margin-left: 10px;
    text-align: center;
    background: $light-grey-color;
    border-radius: 21px;
    overflow: hidden;
    pointer-events: none;

    .image {
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
    }

    i {
      margin-top: 7px;
      color: $grey-color;
      font-size: 35px;
      opacity: .75;
    }

    @media (min-width: $lg-screen) {
      width: 50px;
      height: 50px;
      margin-left: 15px;
      border-radius: 25px;

      i {
        margin-top: 8px;
        font-size: 42px;
      }
    }
  }

  .title {
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
  }

  .trigger {
    flex-shrink: 0;
    transition: $fast-anim;
  }
}
