@import 'breakpoints';
@import 'colors';

.modal {
  background: rgba(0,0,0, .4);
  pointer-events: none;
}

.modal-open {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .modal.show {
    display: initial;
    min-width: 320px;
    opacity: 1;
  }
}

.modal-dialog {
  @media (min-width: $sm-screen) {
    margin: 4rem auto;
  }
}

.modal-header {
  background-color: rgba(0,0,0, .03);

  .close {
    outline: none;
    user-select: none;
  }

  &.modal-header-feature {
    flex-direction: column;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 1rem 1.35rem;
    }

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      width: 100px;
      margin: 10px auto 20px;
      background-color: #FFF;
      border-radius: 50px;
      animation: fade-in .15s forwards ease-in;
      overflow: hidden;

      .image {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      i {
        margin-top: 10px;
        color: $grey-color;
        font-size: 90px;
        opacity: .75;
      }

      @media (min-width: $sm-screen) {
        height: 120px;
        width: 120px;
        border-radius: 60px;

        i { font-size: 110px; }
      }
    }

    .modal-title {
      width: 100%;
      font-size: 24px;
      text-transform: capitalize;
      text-align: center;

      @media (min-width: $sm-screen) {
        font-size: 28px;
      }
    }
  }
}

.modal-title { font-weight: 700; }

.modal-body {
  max-height: 50vh;
  overflow: scroll;
}

.modal-footer { background-color: rgba(0,0,0, .01); }
