@import 'colors';
@import 'animation';

#toast-container {
  width: 100% !important;
  animation: fade .5s linear;

  & > div {
    width: 100% !important;
    border-radius: 0 !important;
    margin: 0 !important;
    opacity: .95;
  }
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
