@import 'breakpoints';
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:400,500,700,900');

$font-logo: 'Lobster', cursive;
$font-primary: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;


body { font-family: $font-primary; }
p a { text-decoration: underline; }
b, strong { font-weight: bold; }
* { -webkit-font-smoothing: antialiased; }

h1, h2 {
  font-weight: 900;
  letter-spacing: .1px;
  cursor: default;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;

  @media (min-width: $md-screen) {
    font-size: 2.4rem;
    line-height: 1.75;
  }

  @media (min-width: $lg-screen) {
    font-size: 3rem;
  }
}
