<app-edit-avatar [hasUnsavedChanges]="hasChanges"></app-edit-avatar>
<form
  *ngIf="profile"
  [formGroup]="profileForm">
  <h3>My Info</h3>
  <label for="fname">First Name <span class="text-secondary">*</span></label>
  <input required
    type="text"
    id="fname"
    name="fname"
    class="form-control"
    [class.mb-4]="!formErrors.fname"
    formControlName="fname"
    (keyup)="detectChange()">
  <div
    class="invalid-label text-danger p-2 pb-3 pl-1"
    *ngIf="formErrors.fname">{{ formErrors.fname }}</div>
  <label for="lname">Last Name <span class="text-secondary">*</span></label>
  <input required
    type="text"
    id="lname"
    name="lname"
    class="form-control"
    [class.mb-4]="!formErrors.lname"
    formControlName="lname"
    (keyup)="detectChange()">
  <div
    class="invalid-label text-danger p-2 pb-3 pl-1"
    *ngIf="formErrors.lname">{{ formErrors.lname }}</div>
  <label for="company">Company</label>
  <input
    type="text"
    id="company"
    name="company"
    class="form-control"
    [class.mb-4]="!formErrors.company"
    formControlName="company"
    (keyup)="detectChange()">
  <div
    class="invalid-label text-danger p-2 pb-3 pl-1"
    *ngIf="formErrors.company">{{ formErrors.company }}</div>
  <label for="phone">Phone</label>
  <input
    type="phone"
    id="phone"
    name="phone"
    class="form-control"
    [class.mb-4]="!formErrors.phone"
    autocomplete="off"
    formControlName="phone"
    placeholder="555-555-5555"
    (keyup)="detectChange()">
  <div
    class="invalid-label text-danger p-2 pb-3 pl-1"
    *ngIf="formErrors.phone">{{ formErrors.phone }}</div>
  <label for="website">Website</label>
  <input
    type="text"
    id="website"
    name="website"
    class="form-control"
    [class.mb-4]="!formErrors.website"
    formControlName="website"
    placeholder="mysite.com"
    (keyup)="detectChange()">
  <div
    class="invalid-label text-danger p-2 pb-3 pl-1"
    *ngIf="formErrors.website">{{ formErrors.website }}</div>
  <button
    type="submit"
    class="btn btn-secondary"
    [disabled]="!hasChanges || user.isUpdating || !profileForm.valid || !platform.isOnline()"
    (click)="updateProfile()">Save</button>
</form>
