<div class="mt-5 mt-md-2 pr-3 pl-3 pb-3 pr-sm-0 pl-sm-0">
  <h4>My Profile</h4>
  <hr class="mb-4">
  <form
    *ngIf="profile"
    [formGroup]="profileForm">
    <div class="row d-flex flex-column flex-lg-row">
      <div class="col-12 col-lg-4 avatar-upload">
        <app-avatar-upload></app-avatar-upload>
      </div>
      <div class="col-12 col-lg-8 pr-md-4">
        <div class="form-group">
          <label for="fname">First Name *</label>
          <input required
            class="form-control"
            type="text"
            id="fname"
            name="fname"
            formControlName="fname">
          <div *ngIf="formErrors.fname" class="text-danger p-2">{{ formErrors.fname }}</div>
        </div>
        <div class="form-group">
          <label for="lname">Last Name *</label>
          <input required
            class="form-control"
            type="text"
            id="lname"
            name="lname"
            formControlName="lname">
          <div *ngIf="formErrors.lname" class="text-danger p-2">{{ formErrors.lname }}</div>
        </div>
        <div class="form-group">
          <label for="company">Company</label>
          <input
            class="form-control"
            type="text"
            id="company"
            name="company"
            formControlName="company">
          <div *ngIf="formErrors.company" class="text-danger p-2">{{ formErrors.company }}</div>
        </div>
        <div class="form-group">
          <label for="website">Website</label>
          <input
            class="form-control"
            type="text"
            id="website"
            name="website"
            formControlName="website">
          <div *ngIf="formErrors.website" class="text-danger p-2">{{ formErrors.website }}</div>
        </div>
        <button
          type="button"
          class="btn btn-sm btn-success waves-effect shadow-none m-0 mt-3"
          [disabled]="isUpdating || !profileForm.valid"
          (click)="update()">Update Profile</button>
      </div>
    </div>
  </form>
</div>
