@import '../../../styles/typography';
@import '../../../styles/colors';

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 80px;
  color: $grey-color;
  font-family: $font-logo;
  font-size: 1.4rem;
  user-select: none;
}
