@import '../../../styles/colors';

footer {
  flex-shrink: 0;
  height: 42px;
  line-height: 40px;
  text-align: center;
  background: $light-grey-color;
  border-top: 1px solid $offset-grey-color;

  .logo-icon {
    display: inline-flex;
    position: relative;
    top: 5px;
    height: 25px;
    width: 28px;
    background-image: url(/assets/icons/icon-72x72.png);
    background-size: 100%;
  }
}
