<h3>My Avatar</h3>
<div class="inner">
  <div
    class="avatar"
    (click)="trigger()">
    <div
      class="image"
      [style.backgroundImage]="'url(' + user.avatar + ')'"
      *ngIf="user.avatar && !user.isLoading && !user.isUploading"></div>
    <i
      class="fas fa-user"
      *ngIf="!user.avatar && !user.isLoading && !user.isUploading"></i>
    <div
      class="loading-spinner"
      *ngIf="user.isUploading">
      <i class="fas fa-sync-alt"></i>
    </div>
  </div>
  <button
    type="button"
    [disabled]="user.isUpdating || user.isUploading || !platform.isOnline()"
    (click)="trigger()"
    class="btn btn-sm btn-primary">
    <i class="fa fa-upload mr-1 mr-md-2"></i>
    Change Avatar
  </button>
</div>
<input
  type="file"
  class="d-none"
  id="upload"
  name="upload"
  accept=".png,.jpg"
  (change)="upload($event)">
