@import 'src/app/styles/breakpoints';
@import 'src/app/styles/colors';

:host {
  width: 100%;
  min-width: 180px;
  margin: 0 auto;
  padding: 0 0 1rem;

  @media (min-width: $lg-screen) {
    padding: 2rem 1rem 2rem 2rem;
    border-left: 1px solid rgba(0,0,0, .1);
  }
}

.inner {
  display: flex;
  flex-direction: row;

  @media (min-width: $lg-screen) {
    flex-direction: column;
    align-items: center;
  }
}

.avatar {
  position: relative;
  display: flex;
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  @media (min-width: 360px) { margin-left: 15px; }

  @media (min-width: $sm-screen) {
    height: 120px;
    min-height: 120px;
    width: 120px;
    min-width: 120px;
    margin-right: 0;
  }

  @media (min-width: $lg-screen) {
    height: 150px;
    width: 150px;
    margin-left: 0;
  }

  &.default { background: $grey-color; }

  .image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  i.fa-user {
    position: absolute;
    top: 16px;
    left: 50%;
    color: #FFF;
    font-size: 85px;
    opacity: .85;
    transform: translateX(-50%);

    @media (min-width: $sm-screen) {
      top: 20px;
      font-size: 102px;
    }

    @media (min-width: $lg-screen) {
      top: 18px;
      font-size: 135px;
    }
  }
}

button {
  margin: auto 15px;

  &.btn.btn-sm i { font-size: .8rem; }

  @media (min-width: 360px) { margin-left: 35px; }
  @media (min-width: $md-screen) {
    &.btn.btn-sm i { font-size: .9rem; }
  }
  @media (min-width: $lg-screen) { margin: 35px auto 0; }
}

.loading-spinner {
  height: 100%;
  width: 100%;
  font-size: 30px;

  i { color: rgba(255,255,255, .5); }
}
