@import '../../styles/variables';
@import '../../styles/colors';

.mobile-tabs, .desktop-tabs {
  position: relative;
  display: block;
  border-bottom: 1px solid $grey-color;
}

.mobile-tabs {
  left: calc(-1 * (100vw - 100%) / 2);
  width: 100vw;

  @media (min-width: $md-screen) {
    display: none;
  }
}

.desktop-tabs {
  display: none;

  @media (min-width: $md-screen) {
    display: flex;
  }
}
