<div *ngIf="(auth.user | async) as user">
  <div *ngIf="system.isBrowser() && system.isOnline()">
    <h1>Dashboard</h1>
    <hr>
    <p>
      <b>User:</b> {{ user.email }}
      <span *ngIf="user?.displayName">({{ user.displayName }})</span>
    </p>
    <p>
      <span class="badge bg-secondary-dark shadow-none mr-2">TODO:</span> Setup Dashboard + Profile Modules
    </p>
    <br>
    <hr>
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="system.isBrowser() && !system.isOnline()">
  <p class="text-warning text-center">Connection Lost!<br>Please check your connection.</p>
</div>
