<div *ngIf="user.isActive; else isLoading">
  <div class="row mt-md-4 mb-5">
    <div class="col-12 col-md-3 pr-0 pr-md-1 pr-lg-2 pl-0">
      <app-tabs
        class="mobile-tabs"
        [tabs]="tabs"></app-tabs>
      <app-profile [user]="user"></app-profile>
    </div>
    <div class="col-12 col-md-9 pr-0 pr-sm-3 pl-0 pl-sm-3">
      <app-tabs
        class="desktop-tabs"
        [tabs]="tabs"></app-tabs>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #isLoading>
  <div class="loading-spinner mt-4">
    <i class="fa fa-refresh"></i>
  </div>
</ng-template>
