<div class="inner">
  <div *ngIf="users">
    <h3 class="heading">
      Users
      <span *ngIf="users.length > 1">({{ users.length }})</span>
    </h3>
    <div>
      <ul class="list">
        <li
          class="list-item action-item pt-3 pb-3"
          [class.inactive]="!user.active"
          [class.text-capitalize]="user.profile?.fname && user.profile?.lname || user.displayName"
          *ngFor="let user of users | sortUsersPipe: 'desc'"
          (click)="showUserDetail(user.uid)">
          <div class="avatar">
            <div class="image"
              [style.backgroundImage]="'url(' + user.photoURL + ')'"
              *ngIf="user.photoURL"></div>
            <i
              class="fas fa-user"
              *ngIf="!user.photoURL"></i>
          </div>
          <span class="title ml-0">
            {{ user.profile?.fname && user.profile?.lname
              ? user.profile?.fname + ' ' + user.profile?.lname
              : user.displayName ? user.displayName : user.email }}
          </span>
          <div class="trigger ml-auto mr-3">
            <i class="fa fa-chevron-right text-black-50"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-user-detail
  *ngIf="user"
  [user]="user"
  [active]="isModalActive"
  [isUpdating]="isUpdating"
  [isDisabled]="user.uid === auth.getUserID() || isUpdating"
  (hideEvent)="hideUserDetail($event)"
  (toggleActiveEvent)="setActiveState(user.uid, !user.active)"
  (toggleAdminEvent)="setAdminState(user.uid, user.email, !user.isAdmin)"></app-user-detail>
