<h1>Login</h1>
<hr>
<div *ngIf="(auth.user | async) !== undefined && system.isBrowser(); else isLoading">
  <div *ngIf="auth.isLoggedIn(); else showLogin">
    <p>You are currently logged-in.</p>
    <button class="btn-outline-dark" (click)="auth.logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button class="btn-outline-warning" (click)="auth.googleLogin()">Login with Google</button>
  </ng-template>
</div>
<ng-template #isLoading>LOADING ...</ng-template>
