@import '../../styles/breakpoints';
@import '../../styles/colors';

h2 {
  display: flex;
  align-items: center;

  button {
    max-height: 40px;
    margin: 0 0 0 auto;
    padding: .5rem 1.25rem;
    text-shadow: none;

    @media (min-width: $sm-screen) { padding: .5rem 1.6rem; }
  }
}

form {
  max-width: 500px;
  margin: 0 auto;

  .form-control { max-width: none; }

  @media (min-width: $md-screen) {
    padding-top: 1rem;
    max-width: 600px;
  }
}

.reset-password {
  display: block;
  width: 100%;
  max-width: 420px;
  margin: 65px auto 0;
  padding: 15px;
  color: $mid-grey-color;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  background: $warm-color;
  border: 2px dashed $grey-color;
  border-radius: 4px;
  cursor: default;

  &.success {
    font-size: 15px;
    color: $success-color;
    border-color: $success-color;

    i { font-size: 18px; }
  }

  span {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;

    &:hover { text-decoration: none; }
  }

  @media (min-width: $sm-screen) { width: 90%; }
  @media (min-width: $md-screen) { font-size: 14px; }
  @media (min-width: $lg-screen) { margin-top: 100px; }
}
