<div class="pt-5 pb-5">
  <h2>Login</h2>
  <hr class="mb-5">
  <div *ngIf="auth?.user | async as user; else isStatic">
    <button
      class="btn btn-sm btn-dark"
      (click)="auth.signOut()">
      Sign Out <i class="fa fa-sign-out ml-1"></i>
    </button>
    <button
      class="btn btn-sm btn-primary ml-3"
      (click)="auth.setAdmin(true)"
      *ngIf="!auth.isAdmin">
      Make Admin <i class="fa fa-lock ml-1"></i>
    </button>
    <button
      class="btn btn-sm btn-danger ml-3"
      (click)="auth.setAdmin(false)"
      *ngIf="auth.isAdmin">
      Remove Admin <i class="fa fa-lock ml-1"></i>
    </button>
  </div>
  <ng-template #isStatic>
    <button
      class="btn btn-sm btn-dark"
      (click)="auth.googleLogin()">
      Login <i class="fa fa-sign-in ml-1"></i>
    </button>
  </ng-template>
</div>
