<div class="form-group d-flex flex-column">
  <label for="avatarUpload">Profile Picture</label>
  <div class="d-flex flex-row flex-lg-column">
    <img
      [src]="avatar"
      alt="Profile Picture">
    <button
      type="button"
      [disabled]="isUploading"
      (click)="triggerUploadInput()"
      class="btn btn-sm btn-light shadow-none align-self-center ml-4 ml-lg-0 mt-lg-3">
      <i class="fa fa-upload mr-1"></i>
      Upload Photo
    </button>
    <input
      type="file"
      id="avatarUpload"
      class="d-none"
      name="avatar"
      accept=".png,.jpg"
      (change)="upload($event)">
  </div>
</div>
