@import '../../../styles/variables';
@import '../../../styles/colors';

img {
  height: 120px;
  width: 120px;
  background: $light-grey-color;

  @media (min-width: $lg-screen) {
    height: auto;
    min-height: 207px;
    width: 100%;
  }
}
