@import '../../styles/variables';
@import '../../styles/colors';

h3 {
  position: relative;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  padding-top: 1.75rem;
  padding-bottom: 1.25rem;
  text-align: center;
  background: $light-grey-color;

  @media (min-width: $xs-screen) {
    left: calc(-1 * (100vw - 100%) / 2);
    width: 100vw;
  }

  @media (min-width: $md-screen) {
    left: initial;
    width: initial;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: $special-dark-color;
    background: $light-grey-color;
    border: 1px solid $grey-color;
    border-radius: 3px 3px 0 0;
  }
}

.settings-tabs {
  position: relative;
  display: block;
  left: 0;
  width: 100%;
  background: $light-grey-color;
  border-bottom: 1px solid $grey-color;

  @media (min-width: $xs-screen) {
    left: calc(-1 * (100vw - 100%) / 2);
    width: 100vw;
  }

  @media (min-width: $md-screen) {
    left: initial;
    width: 100%;
    background: none;
    border-bottom: none;
  }
}
