@import '../../styles/colors';

.loading {
  position: fixed;
  z-index: 9000;

  .splash {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    opacity: 0;
    animation: fade-in .25s .25s forwards ease-in;
    user-select: none;
  }

  ::ng-deep .loading-spinner {
    font-size: 50px;
    color: $grey-color;
    animation: none;
    opacity: 1;
  }
}
