<div class="profile">
  <div class="container">
    <div class="user-image">
      <img [src]="user.avatar ? user.avatar : '/assets/img/user.png'">
    </div>
    <div class="user-info">
      <span
        *ngIf="user.profile?.company"
        class="title">{{ user.profile.company }}</span>
      <div
        *ngIf="user.profile?.fname && user.profile?.lname || user.displayName"
        class="subtitle">
        <span class="icon mr-2">
          <i class="fa fa-user"></i>
        </span>
        <span>{{ user.profile?.fname && user.profile?.lname ?
          user.profile?.fname + ' ' + user.profile?.lname : user.displayName }}</span>
      </div>
      <span
        *ngIf="user.profile?.website"
        class="website">
        <span class="icon mr-2">
          <i class="fa fa-globe"></i>
        </span>
        <span>{{ user.profile.website }}</span>
      </span>
      <span class="email">
        <span class="icon mr-2">
          <i class="fa fa-envelope"></i>
        </span>
        <span>{{ user.email }}</span>
      </span>
    </div>
    <a
      *ngIf="user.profile"
      routerLink="/settings/profile"
      class="btn btn-sm btn-light shadow-none mt-4 mb-5">
        <i class="fa fa-pencil mr-1"></i>
        Edit Profile
    </a>
  </div>
</div>
