<nav
  [class.expanded]="nav.isMenuOpen"
  [class.lowered]="platform.hasUpdates && platform.isOnline() || !platform.isOnline()">
  <div class="top">
    <a
      class="logo"
      routerLink="/"
      (click)="nav.closeMenu()">
      <img
        alt="ng-fire-universal"
        src="/assets/img/logo-header.svg">
    </a>
    <div
      class="menu-toggle"
      [class.active]="nav.isMenuOpen"
      (click)="nav.toggleMenu($event)">
      <i class="fa fa-bars"></i>
    </div>
  </div>

  <!-- Logged-in -->
  <div
    class="menu-container"
    [class.expanded]="nav.isMenuOpen"
    *ngIf="auth.user | async as user; else isStatic"
    (click)="nav.closeMenu()">
    <ul
      class="menu logged-in"
      [class.expanded]="nav.isMenuOpen"
      *ngIf="user.active">
      <li class="menu-item">
        <a
          class="menu-link store-link"
          routerLink="/store"
          routerLinkActive="active">
          <i class="fas fa-store mr-2"></i> Store
        </a>
      </li>
      <li class="menu-item">
        <a
          class="menu-link cart-link"
          routerLink="/cart"
          routerLinkActive="active">
          <i class="fas fa-shopping-cart mr-2">
            <span>0</span>
          </i>
          <span>My&nbsp;</span>Cart
          <span class="count">&nbsp;(0)</span>
        </a>
      </li>
      <li
        class="menu-item dropdown"
        *ngIf="user">
        <div
          class="menu-link dropdown-toggle"
          (click)="nav.toggleMenu($event)"
          [class.expanded]="nav.isMenuOpen">
          <div class="avatar">
            <div class="image"
              [class.inactive]="!user.active"
              [style.backgroundImage]="'url(' + user.photoURL + ')'"
              *ngIf="user.active && user.photoURL"></div>
            <i
              class="fas fa-user"
              *ngIf="user.active && !user.photoURL"></i>
          </div>
        </div>
        <div
          class="dropdown-menu"
          [class.expanded]="nav.isMenuOpen">
          <a
            class="dropdown-item"
            routerLink="/me"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">My Account</a>
          <a
            class="dropdown-item hide-my"
            routerLink="/me/profile"
            routerLinkActive="active">My Profile</a>
          <a
            class="dropdown-item"
            routerLink="/me/orders"
            routerLinkActive="active">Orders</a>
          <a
            class="dropdown-item"
            routerLink="/admin"
            routerLinkActive="active"
            *ngIf="user.isAdmin">Admin</a>
          <div class="dropdown-divider"></div>
          <div
            class="dropdown-item sign-out"
            (click)="signOut()">Sign Out</div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Logged-out -->
  <ng-template #isStatic>
    <ul
      class="menu"
      [class.expanded]="nav.isMenuOpen"
      (click)="nav.closeMenu()"
      *ngIf="!auth.isLoggedIn()">
      <li class="menu-item">
        <a
          class="menu-link store-link"
          routerLink="/store"
          routerLinkActive="active">
          <i class="fas fa-store mr-2"></i> Store
        </a>
      </li>
      <li class="menu-item">
        <a
          class="menu-link cart-link"
          routerLink="/cart"
          routerLinkActive="active">
          <i class="fas fa-shopping-cart mr-2">
            <span>0</span>
          </i>
          <span>My&nbsp;</span>Cart
          <span class="count">&nbsp;(0)</span>
        </a>
      </li>
      <li class="menu-item">
        <a
          class="menu-link"
          routerLink="/signup"
          routerLinkActive="active">
          <i class="fas fa-fire mr-2"></i> Sign Up
        </a>
      </li>
      <li class="menu-item">
        <a
          class="menu-link"
          routerLink="/login"
          routerLinkActive="active">
          <i class="fas fa-sign-in-alt mr-2"></i> Login
        </a>
      </li>
    </ul>
  </ng-template>
  <div class="PWA-iOS-statusbar-notch"></div>
</nav>

<!-- PWA » Offline -->
<div
  class="offline-warning"
  [class.active]="!platform.isOnline()">
  <div class="container">
    <span>
      <i class="fa fa-warning mr-2"></i>
      Offline / Connection Lost
    </span>
  </div>
</div>

<!-- PWA » Updates Available -->
<div
  class="update-banner"
  [class.active]="platform.hasUpdates && platform.isOnline()"
  (click)="reload()">
  <div class="container">
    <span>
      <i class="fa fa-warning mr-2"></i>
      Updates Available - Click Here
    </span>
  </div>
</div>
