@import '../../../styles/variables';
@import '../../../styles/breakpoints';
@import '../../../styles/animation';
@import '../../../styles/colors';
@import '../../../styles/typography';

nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: $header-height;
  padding: 0;
  background: linear-gradient(180deg, $purple-color, $pink-color);
  box-shadow: 0 0 3px rgba(0,0,0, .35);
  transition: $fast-anim;

  &.lowered { margin-top: $banner-height; }
  &.expanded { max-height: 1000px; }

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: $header-height;
    width: 100%;
  }

  @media (min-width: $md-screen) {
    flex-direction: row;

    &.expanded { padding-bottom: 0; }
    .top { width: auto; }
  }
}

.logo {
  position: relative;
  display: flex;
  height: $header-height;
  outline: none;

  img {
    width: 202px;
    margin-top: 2px;
    margin-left: 1rem;
    user-select: none;
    filter: drop-shadow(0 0 2px rgba(0,0,0, .25));

    @media (min-width: $xs-screen) { margin-left: 0; }
    @media (min-width: $md-screen) { margin-left: 1.2rem; }
  }

  @media (min-width: $xs-screen) {
    width: 100%;
    justify-content: center;

    &:after { justify-content: center; }
  }
}

.menu-container {
  display: none;

  &.expanded {
    display: flex;
    width: 100%;
  }

  @media (min-width: $md-screen) {
    display: flex;
    width: auto;
    margin-left: auto;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: height $fast-anim;
  animation: fade-in .25s forwards ease-in;

  &.expanded {
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    width: 100%;
    padding: 10px 0 25px;
    opacity: 0;

    .menu-item {
      opacity: 0;
      animation: fade-in .25s forwards ease-in;
    }

    .dropdown-toggle { display: none; }
    .avatar { opacity: .75; }


    .dropdown-menu {
      display: flex;
      position: static;
    }

    @media (min-width: $md-screen) {
      flex-direction: row;
      max-height: $header-height;
      width: auto;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 1;
      overflow: visible;

      .menu-item {
        opacity: 1;
        animation: none;
      }

      .dropdown-toggle { display: inline-flex; }
      .dropdown-menu:not(.expanded) { display: none; }
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
  }

  @media (min-width: $md-screen) {
    display: flex;
    max-height: $header-height;
    width: auto;
    opacity: 1;

    &:not(.logged-in) { margin-right: 1rem; }
    .menu-item { opacity: 1; }
  }
}

.menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: $header-height;
  padding: 0 1.25rem;
  color: #FFF;
  font-size: 25px;
  line-height: $header-height;
  transition: $fast-anim;
  cursor: pointer;

  &:hover { opacity: .75; }
  &.active { opacity: .5; }

  @media (min-width: $md-screen) {
    display: none;
  }
}

.menu-link {
  height: 100%;
  width: 100%;
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1.15rem !important;
  font-weight: 300;
  border-radius: 4px;
  opacity: 1;
  user-select: none;
  cursor: pointer;
  transition: color $default-anim, opacity $default-anim;

  &:hover {
    color: $grey-color;
    opacity: .75;
  }

  &.active {
    font-weight: 500;
    pointer-events: none;
    text-shadow: 0 0 2px rgba(0,0,0, .25);
  }

  &.store-link i { font-size: 18px; }

  &.cart-link {
    i {
      position: relative;
      font-size: 20px;

      span {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 15px;
        width: 27px;
        color: $purple-color;
        font-size: 8px;
        font-family: $font-primary;
        font-weight: bold;
      }
    }

    .count { opacity: .6; }

    @media (min-width: $md-screen) {
      span { display: none; }
    }
  }

  i { display: none; }

  @media (min-width: $md-screen) {
    height: 100%;
    width: auto;
    margin-top: 0;
    padding: 5px 15px;
    font-size: 1.05rem !important;

    &.active {
      color: rgba(255,255,255, .55);
      text-shadow: none;
    }

    i { display: flex; }
  }
}

.dropdown-toggle {
  display: inline-flex;
  padding-right: 1.25rem;

  &:after {
    margin-left: .6em;
    transition: $default-anim;
  }

  &:hover {
    opacity: 1;

    &:after {
      opacity: 1;
      color: rgba(255,255,255, .5);
    }

    .avatar { opacity: .75; }
  }

  &.expanded:after { color: rgba(255,255,255, .5); }
}

.dropdown-menu {
  position: static;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  border: none;

  &.expanded {
    display: flex;
    flex-direction: column;
    top: 46px;
    right: 1rem;
    left: auto;
    padding: 0;
  }

  @media (min-width: $md-screen) {
    position: absolute;
    background: #FFF;
    border: 1px solid rgba(27,31,35, .15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(27,31,35, .15);

    &.expanded {
      position: absolute !important;
      padding: .35rem 0;
    }

    &:not(.expanded) { display: none; }
  }
}

.dropdown-divider {
  height: 0;
  width: 90%;
  margin: .5rem auto;
  overflow: hidden;
  border-top: 1px solid rgba(255,255,255, .1);

  @media (min-width: $md-screen) {
    width: 87%;
    margin: .25rem auto;
    border-top: 1px solid rgba(0,0,0, .025);
  }
}

.dropdown-item {
  height: 100%;
  width: auto;
  margin-bottom: 0;
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1.15rem !important;
  font-weight: 300;
  transition: color $default-anim, opacity $default-anim;
  user-select: none;

  &:hover {
    color: $grey-color;
    background: none;
    opacity: .75;

    &:not(.active) { cursor: pointer; }
  }

  &.active, &:focus, &:active { background: none !important; }

  &.active {
    font-weight: 500;
    pointer-events: none;
  }

  @media (min-width: $md-screen) {
    justify-content: initial;
    padding: 8px 10px 8px 15px;
    color: $mid-grey-color;
    font-size: 14px !important;
    font-weight: 300;
    text-align: left;
    border-radius: 4px;
    transition: color $default-anim;

    &:last-of-type {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:not(.active):hover { color: #000; }

    &.active {
      color: $purple-color;
      pointer-events: none;
    }
  }
}

.avatar {
  position: relative;
  width: 36px;
  height: 36px;
  margin-left: 3px;
  display: inline-block;
  background: rgba(255,255,255, .75);
  border-radius: 18px;
  overflow: hidden;
  transition: $default-anim;

  .image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: $default-anim;
    animation: fade-in .25s forwards ease-in;

    &.inactive { opacity: 0; }
  }

  i {
    position: absolute;
    top: 5px;
    left: 4px;
    color: #FFF;
    font-size: 31px;
    opacity: .75;
  }
}

/* PWA » Notification Banners */
.offline-warning,
.update-banner {
  position: absolute;
  display: flex;
  z-index: 8000;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  width: 100%;
  padding: 0;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  background-color: $danger-color;
  transition: $fast-anim;
  overflow: hidden;
  cursor: default;
  user-select: none;

  &.active {
    height: $banner-height;
    padding: 5px 15px;
  }
}

.update-banner {
  background-color: $primary-color;
  cursor: pointer;
}

/* iOS Status Bar + Notch */
.PWA-iOS-statusbar-notch { display: none; }

@supports (-webkit-overflow-scrolling: touch) {
  @media all and (display-mode: standalone) and (orientation: portrait) {
    nav { margin-top: env(safe-area-inset-top); }
    nav.lowered { margin-top: calc(#{$banner-height} + env(safe-area-inset-top)); }

    .PWA-iOS-statusbar-notch {
      position: absolute;
      z-index: 1;
      top: calc(-1 * env(safe-area-inset-top));
      display: flex;
      height: env(safe-area-inset-top);
      width: 100%;
      background: $purple-color;
    }

    .offline-warning.active,
    .update-banner.active {
      height: calc(#{$banner-height} + env(safe-area-inset-top));
      padding-top: calc(5px + env(safe-area-inset-top));
    }
  }

  @media all and (orientation: landscape) {
    nav {
      padding-right: env(safe-area-inset-right);
      padding-left: env(safe-area-inset-left);

      .logo img { margin-left: 0; }
      .menu:not(.logged-in) { margin-right: 0; }
      .dropdown-toggle { padding-right: 0; }
    }
  }
}
