<div class="page">
  <div *ngIf="!auth.isLoggedIn() && !(auth.isLoading | async); else isLoggedIn">
    <h2>Sign Up
      <button
        class="btn btn-sm btn-outline-dark"
        (click)="auth.googleLogin()">
        <i class="fab fa-google mr-2"></i> Use Google
      </button>
    </h2>
    <hr>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <label for="email">Email</label>
      <input required
        type="email"
        name="email"
        id="email"
        class="form-control"
        [class.mb-4]="!formErrors.email"
        autocomplete="email"
        formControlName="email">
      <div
        class="invalid-label text-danger p-2 pb-3 pl-1"
        *ngIf="formErrors.email">{{ formErrors.email }}</div>
      <label for="password">Password</label>
      <input required
        type="password"
        name="password"
        id="password"
        class="form-control"
        [class.mb-4]="!formErrors.password"
        autocomplete="new-password"
        formControlName="password">
      <div
        class="invalid-label text-danger p-2 pb-0 pl-1"
        *ngIf="formErrors.password">{{ formErrors.password }}</div>
      <button
        type="submit"
        class="btn btn-sm btn-secondary"
        [class.disabled]="!signupForm.valid"
        [disabled]="!signupForm.valid">Ready</button>
    </form>
  </div>

  <!-- Logged-In -->
  <ng-template #isLoggedIn>
    <h5
      class="d-flex justify-content-center text-success mt-4"
      *ngIf="!(auth.isLoading | async)">
      You're currently logged-in
      <i class="far fa-smile ml-2 mt-auto mb-auto"></i>
    </h5>
  </ng-template>
</div>
