<h3>My Account » Home</h3>
<p>[Order History + Cart Summary]</p>
<p>[Solicit User Account Info]</p>
<!-- <div *ngIf="auth?.user | async as user">
  <button
    class="btn btn-sm btn-primary ml-3"
    (click)="auth.setAdmin(true)"
    *ngIf="!auth.isAdmin">
    Make Admin <i class="fas fa-lock ml-1"></i>
  </button>
  <button
    class="btn btn-sm btn-danger ml-3"
    (click)="auth.setAdmin(false)"
    *ngIf="auth.isAdmin">
    Remove Admin <i class="fas fa-lock ml-1"></i>
  </button>
</div> -->
