<p class="p-3 pl-md-5">
  Welcome back, {{ auth.getUserName() }}.
  Your email is <strong>{{ auth.getUserEmail() }}</strong>.
</p>
<p class="d-flex align-items-center p-3 pl-md-5">
  <span class="badge bg-primary mr-3">TODO</span>
  Show Cart Summary
</p>
<p class="d-flex align-items-center pl-3 pb-3 pl-md-5">
  <span class="badge bg-primary mr-3">TODO</span>
  Show Recent Order Summary
</p>
<p class="d-flex align-items-center pl-3 pb-3 pl-md-5">
  <span class="badge bg-primary mr-3">TODO</span>
  Solicit Remaining User Info
</p>
