/* You can add global styles to this file, and also import other style files */

@import './app/styles/external/bootstrap.css';
@import './app/styles/external/mdb.css';
@import './app/styles/external/font-awesome.css';

@import './app/styles/reset';
@import './app/styles/global';
@import './app/styles/animation';
@import './app/styles/notifications';
@import './app/styles/typogrophy';
@import './app/styles/colors';
@import './app/styles/forms';
@import './app/styles/buttons';
