@import './app/styles/external/bootstrap.css';
@import './app/styles/external/mdb.css';
@import './app/styles/external/font-awesome.css';

@import './app/styles/global';
@import './app/styles/colors';
@import './app/styles/animation';
@import './app/styles/notifications';
@import './app/styles/typography';
@import './app/styles/buttons';
@import './app/styles/modals';
